<?xml version="1.0"?>
<config>
    <modules>
        <Divvit_Divvit>
            <version>1.3.2</version>
        </Divvit_Divvit>
    </modules>
    <global>
        <helpers>
            <divvit_divvit>
                <class>Divvit_Divvit_Helper</class>
            </divvit_divvit>
        </helpers>
        <blocks>
            <divvit_divvit>
                <class>Divvit_Divvit_Block</class>
            </divvit_divvit>
        </blocks>
        <models>
            <divvit_divvit>
                <class>Divvit_Divvit_Model</class>
                <resourceModel>divvit_divvit_resource</resourceModel>
            </divvit_divvit>
            <divvit_divvit_resource>
                <class>Divvit_Divvit_Model_Resource</class>
                <entities>
                    <order>
                        <table>divvit_order</table>
                    </order>
                </entities>
            </divvit_divvit_resource>
        </models>
        <events>
            <admin_system_config_changed_section_divvit>
                <observers>
                    <divvit_divvit>
                        <type>singleton</type>
                        <class>divvit_divvit/observer</class>
                        <method>adminSystemConfigChangedSection</method>
                    </divvit_divvit>
                </observers>
            </admin_system_config_changed_section_divvit>
        </events>
        <resources>
            <divvit_setup>
                <setup>
                    <module>Divvit_Divvit</module>
                </setup>
            </divvit_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <divvit_divvit>
                    <file>divvit_divvit.xml</file>
                </divvit_divvit>
            </updates>
        </layout>
        <routers>
            <divvit>
                <use>standard</use>
                <args>
                    <module>Divvit_Divvit</module>
                    <frontName>divvit</frontName>
                </args>
            </divvit>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <divvit_divvit>
                        <type>singleton</type>
                        <class>divvit_divvit/observer</class>
                        <method>customerLogin</method>
                    </divvit_divvit>
                </observers>
            </customer_login>
            <checkout_cart_add_product_complete>
                <observers>
                    <divvit_divvit>
                        <type>singleton</type>
                        <class>divvit_divvit/observer</class>
                        <method>setCartData</method>
                    </divvit_divvit>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <observers>
                    <divvit_divvit>
                        <type>singleton</type>
                        <class>divvit_divvit/observer</class>
                        <method>setCartData</method>
                    </divvit_divvit>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_save_before>
                <observers>
                    <divvit_divvit>
                        <type>singleton</type>
                        <class>divvit_divvit/observer</class>
                        <method>emptyCart</method>
                    </divvit_divvit>
                </observers>
            </checkout_cart_save_before>
            <sales_order_place_after>
                <observers>
                    <divvit_divvit>
                        <type>singleton</type>
                        <class>divvit_divvit/observer</class>
                        <method>onSalesOrderPlaceAfter</method>
                    </divvit_divvit>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <divvit>
            <settings>
                <enabled>0</enabled>
                <merchant_site_id></merchant_site_id>
                <access_token></access_token>
            </settings>
        </divvit>
    </default>
</config>
